:root {
  --title-color: #330394;
  --primary-color: #9298f5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Roboto, sans-serif;
}

body {
  background: #151515;
  -webkit-font-smoothing: antialiased;

  color: #f5f5f5;
}

a {
  text-decoration: none;
}